{
    "device_id": "restpay_prod_pc_1",
    "software_id": "colibri",
    "software_api_mode": "REST",
    "endpoint": "a3pfvuzbin0ywl.iot.us-east-1.amazonaws.com",
    "env": "prod",
    "debug": false
}
